<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <!-- Mobile viewport optimization h5bp.com/ad -->
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <!-- Internet Explorer use the highest version available -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <!--[if IEMobile]>
  <meta http-equiv="cleartype" content="on">
  <![endif]-->

  <title><%= render_page_title %></title>
  <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for(:head) %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body class="<%= render_body_class %>" onload="checkCookie()">

<%= render :partial => 'shared/header_navbar' %>

<%= render partial: 'shared/ajax_modal' %>

<div id="main-container" class="<%= container_classes %>">
  <%= content_tag :h1, application_name, class: 'sr-only application-heading' %>

  <%= render :partial => '/flash_msg', layout: 'shared/flash_messages' %>

  <div id="content">
    <div class="container">
      <div class="page-header">
        <div>
          <h2 class="page-heading"><span class="glyphicon glyphicon-info-sign"></span> Danmarks Breve søgetips</h2>
        </div>
      </div>

      <div class="container">
        <div class="row">

          <div id="om-dkbreve" class="document">
            <div class="text-content">
              <div class="text">

                <h1>Hvordan søger jeg?</h1>
                <p>Du kan søge frit i den fulde brevtekst, og du kan søge på brevets afsender, modtager, afsendelsessted og modtagelsessted.
                  Standardsøgningen i Danmarks Breve er sat til, at der søges i ”alle felter” – dvs. både i tekst og i metadata. Metadata er navne og steder, som Det Kgl. Bibliotek har inddateret i brevbasen for at gøre søgninger mere præcise. En måde at bruge metadata til mere præcise søgeresultater er ved at bruge facetter.
                  Vil du gerne søge udelukkende i metadataen, så kan du vælge at begrænse din søgning til f.eks. kun afsendere ved at vælge ”Afsender” i dropdown-menuen til venstre for søgefeltet.
                </p>
                <h1>Hvad er facetter, og hvordan bruger jeg dem?</h1>
                <p>Når du har søgt på et sted, en person eller noget andet, så finder du facetterne til venstre for dine søgeresultaterne. Du kan bruge facetter til at begrænse eller præcisere antallet af søgeresultater.</p>
                <div class="well">
                  <p>Eksempel: Hvis du søger på en afsender, f.eks. Tycho Brahe, får du en række søgeresultater. Blandt resultaterne vil være breve, som er skrevet af eller til Tycho Brahe og breve, hvor afsenderen nævner Tycho Brahe. </p>
                  <p>Er du kun interesseret i breve skrevet af Tycho Brahe, skal du bruge facetterne i venstre side. Klik på ”Afsender” og vælg ”Tyge Brahe” (læs mere om standardiserede former af person- og stednavne under afsnittet ”Principper for metadateringen”). Nu ser du kun de breve, som har fået tilknyttet Tyge Brahe som afsender, og hvor teksten Tycho Brahe samtidig optræder. </p>
                  <p>Det kan være, at der findes breve med Tyge Brahe som afsender, men hvor ordene Tycho Brahe ikke optræder, så for at være sikker på at få alle breve med Tycho/Tyge Brahe som afsender, så kan du over søgeresultaterne fravælge Tycho Brahe ved at trykke på krydset i boksen med din fritekstsøgning: ”Tycho Brahe”. På den måde får du vist alle breve, som Det Kgl. Bibliotek har opmærket som afsendt af Tycho/Tyge Brahe.</p>
                </div>
              </div>
              <h1>Hvad er principperne bag metadateringen?</h1>
              <p>Det Kgl. Bibliotek har fastsat en række principper for metadateringen for at gøre den så ensartet som muligt og forbedre søgeresultaterne.
              <ul style="list-style-type:disc">
                <li>
                Personnavne er ensartet til den navneform som optræder først i Dansk Biografisk Leksikon (hvis personen er nævnt heri).
                </li>
                <li>
                Stednavne er så vidt muligt ensartet til den nutidige danske navneform, f.eks. gengives ”Kiøbenhavn” som ”København” i metadataen, uanset hvornår brevet er fra.
                </li>
                <li>
                Datoer er alle skrevet efter EDTF-formatet, som er en biblioteksstandard udviklet af amerikanske Library of Congress. Formatet er grundlæggende år-måned-dato, men kan også gengive f.eks. usikre datoer, intervaller og årtier på en måde som er læsbar for en computer.
                </li>
              </ul>
              </p>
              <h1>Hvordan laver jeg avancerede søgninger?</h1>
              <p>Der kan søges på flere ord i fritekst. Der kan også søges på sætninger eller fraser ved at benytte situationstegn, ligesom det er muligt at medtage eller udelade bestemte termer fra søgningen efter nedenstående principper.
              <ul style="list-style-type:disc">
                Kombiner flere søgetermer for at finde breve
                <li>
                	Brug ” for at søge efter en sætning
                </li>
                <li>
                	Brug ”+” før et ord, hvis resultatet skal indeholde dette ord
                </li>
                <li>
                  Brug ”–” for at udelukke ord fra søgningen
                </li>
                <li>
                  Brug ”OR, ”AND” og ”NOT” til avancerede søgninger
                </li>
                <li>
                 Bemærk, at systemet ikke understøtter wildcards
                </li>
                <li>
                 Trunkering udføres automatisk af systemet
                </li>
              </ul>
                Det er altid muligt at få vist denne liste ved at holde pilen over spørgsmålstegnet til højre for søgefeltet.
              </p>
              <br><br>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%= render :partial => 'shared/footer' %>
</body>
</html>




