<% @previous_document = @document["previous_id_ssi"] %>
<% @next_document = @document["next_id_ssi"] %>
<% @letter_number = @document["letter_number_isi"] %>
<% id = @document.id %>

<% if @document['cat_ssi']=='letter'%>
    <div id='previousNextDocument' class='pagination-search-widgets'>
      <% if @previous_document || @next_document %>
          <div class="page_links">
            <%= link_to t('views.pagination.previous'), solr_document_path(id: @previous_document) if @previous_document.present? %>

            |

            <%= @letter_number.to_i %> <%= t('views.pagination.from') %>
            <%= Finder.get_num_of_letters(@document["volume_id_ssi"]) if @document['volume_id_ssi'].present? %>
            <%= t('views.pagination.in_volume') %>

            |

            <%= link_to t('views.pagination.next'), solr_document_path(id: @next_document) if @next_document.present?%>
          </div>
      <% end %>
    </div>
<% end %>
