<%# default partial to display solr document fields in catalog show view -%>

<% solr_id = @document.id %>
<% opts = Snippet::SnippetServer.split_letter_id(solr_id) %>
<% opts[:c] = Snippet::SnippetServer.get_collection(solr_id) %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.collapseMetadata').click(function (e) {
      $(this).closest('.contentContainer').toggleClass('nometa');
    });
  });
</script>


<div class="container">
  <div class="row">
    <div class="col-md-12 contentContainer">
      <div class="letter-metadata">
        <header>
          <a class="pull-left collapseMetadata"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </header>
        <article>
          <dl>
            <dh>metadata</dh>
            <% document_show_fields(document).each do |field_name, field| -%>
                <% if should_render_show_field? document, field %>
                    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
                    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
                <% end -%>
            <% end -%>
          </dl>
        </article>
      </div>
      <div class="container textAndFacsimileContainer">
        <div class="row">
          <div class="ocrContainer">
            <header>OCR</header>
            <article class="ocr">
              <%= Snippet::SnippetServer.render_snippet(opts) %>
            </article>
          </div>
          <div class="facsimile">
            <div class="resizebar"></div>
            <header>Faksimile</header>
            <article>
                <%# OpenSeadragon start %>
                <div id="kbOSDInstance" style="height:100%">
                    <div class="kbOSDViewer">
                        <div class="kbOSDContent"></div>
                        <div class="kbOSDFooter"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    var kbOSDconfig = [{
                            id: 'kbOSDInstance',
                            kbHeader: 'This is the title',
                            //showNavigator: true,
                            //rtl: true,
                            //initialPage: 1,
                            //hidePageNav: true,
                            defaultZoomLevel: 0, // 0.34
                            sequenceMode: true,
                            //indexPage: [
                            //    {'title' : 'Livet til søs genstand...', 'page' : 1},
                            //    {'title' : 'Latimeria', 'page' : 4},
                            //    {'title' : 'En regn', 'page' : 5},
                            //    {'title' : 'Et 5-finnet blad', 'page' : 12},
                            //    {'title' : 'Forholdsregler', 'page' : 14}
                            //],
                            tileSources: [
                                'http://dia-test-img-01.kb.dk/online_master_arkiv_3/non-archival/OJA/codheb32/codheb32_12/info.json',
                                'http://dia-test-img-01.kb.dk/online_master_arkiv_3/non-archival/OJA/codheb32/codheb32_13/info.json',
                                'http://dia-test-img-01.kb.dk/online_master_arkiv_3/non-archival/OJA/codheb32/codheb32_14/info.json',
                                'http://dia-test-img-01.kb.dk/online_master_arkiv_3/non-archival/OJA/codheb32/codheb32_15/info.json'
                            ]
                        }];
                </script>
                <script src="https://static.kb.dk/~hafe/kbOpenSeadragon/js/KbOSD_bundle_min.js"></script>
                <%# OpenSeadragon end %>
            </article>
          </div>
        </div>
      </div>
    </div>
  </row>
</div>


