<%# default partial to display solr document fields in catalog show view -%>
<% doc_presenter = show_presenter(document) %>
<% solr_id = @document.id %>
<% opts = Snippet::SnippetServer.split_letter_id(solr_id) %>
<% opts[:c] = "letter_books" %>

<script type="text/javascript">
  $(document).ready(function() {
  dkBreve.onDocumentReady();
  });
</script>


<div class="container ">
  <div class="row">
      <div class=" col-sm-3 letterbook-metadata">
        <article>
          <dl>
            <% document_show_fields(document).each do |field_name, field| -%>
                <% if should_render_show_field? document, field %>
                    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
                    <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field_name %></dd>
                <% end -%>
            <% end -%>
          </dl>
        </article>
      </div>


  <div class=" col-md-9 letter_text_ocr_container">

            <article class="ocr">
              <%= Snippet::SnippetServer.letter_volume(opts) %>
            </article>
        </div>
      </div>

  </div>
</div>


