<%# default partial to display solr document fields in catalog show view -%>

<% solr_id = @document.id %>
<% opts = Snippet::SnippetServer.split_letter_id(solr_id) %>
<% opts[:c] = Snippet::SnippetServer.get_collection(solr_id) %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.collapseMetadata').click(function (e) {
      $(this).closest('.contentContainer').toggleClass('nometa');
    });
  });
</script>


<div class="container">
  <div class="row">
    <div class="col-md-12 contentContainer">
      <div class="letter-metadata">
	<header>
          <a class="pull-left collapseMetadata"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </header>
        <article>
          <dl>
            <% document_show_fields(document).each do |field_name, field| -%>
                <% if should_render_show_field? document, field %>
                    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
                    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
                <% end -%>
            <% end -%>
          </dl>
        <div><%= link_to 'Dansk Biografisk Leksikon', "http://denstoredanske.dk/Dansk_Biografisk_Leksikon", :target => "_blank"%></div>
        <div><%= link_to 'Den Danske Ordbog', "http://ordnet.dk/ddo", :target => "_blank"%></div>
        </article>
      </div>
      <div class="container textAndFacsimileContainer">
        <div class="row">
          <div class="ocrContainer">
            <button id="ocrFullscreenButton" class="btn btn-default pull-right"><span class="glyphicon glyphicon-fullscreen"></span></button>
            <div class="downloadLinkContainer">
              <%= link_to(solr_document_path(document, format: :pdf), class: 'btn btn-default dlButton') do %>
                  <span class="glyphicon glyphicon-save"></span> Tekst
              <% end %>
            </div>
            <article class="ocr">
              <%= Snippet::SnippetServer.render_snippet(opts) %>
            </article>
          </div>
          <div class="facsimile">
            <div class="downloadLinkContainer">
              <%= link_to(facsimile_catalog_path(document.id, format: :pdf), class: 'btn btn-default dlButton') do %>
                  <span class="glyphicon glyphicon-save"></span> Facsimile
              <% end %>
            </div>
            <article>
                <%# OpenSeadragon start %>
                <div id="kbOSDInstance" style="height:100%">
                    <div class="kbOSDViewer">
                        <div class="kbOSDContent"></div>
                        <div class="kbOSDFooter"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    var kbOSDconfig = [<%= Snippet::SnippetServer.openSeadragon_snippet(opts) %>];

                    // Converting certain strings => numbers, that OpenSeadragon expects to be numbers, but Sigges serializer returns as strings
                    // TODO: This ought to be done serverside, but until we get a better serializer, it's easier to do clientside.
                    // NOTE: If there are more than one kbOSD instance on this page (I don't think there ever will be?), we need to do the following alterations on all config objects!
                    if ('string' === typeof kbOSDconfig[0].initialPage) { kbOSDconfig[0].initialPage = parseInt(kbOSDconfig[0].initialPage, 10); }
                    if ('string' === typeof kbOSDconfig[0].defaultZoomLevel) { kbOSDconfig[0].defaultZoomLevel = parseInt(kbOSDconfig[0].defaultZoomLevel, 10); }
                    if (kbOSDconfig[0].indexPage.length < 2) { // if there is only one element in the index, then don't show any index
                      delete kbOSDconfig[0].indexPage;
                    } else {
                      $.each(kbOSDconfig[0].indexPage, function (index, indexPage) {
                        if ('string' === typeof indexPage.page) { index.page = parseInt(index.page, 10); }
                      });
                    }
                </script>
                <script src="https://static.kb.dk/kbOpenSeadragon/js/KbOSD_bundle_min.js"></script>
                <%# OpenSeadragon end %>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

