<%# default partial to display solr document fields in catalog show view -%>

<% solr_id = @document.id %>
<% opts = Snippet::SnippetServer.split_letter_id(solr_id) %>
<% opts[:c] = Snippet::SnippetServer.get_collection(solr_id) %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.collapseMetadata').click(function (e) {
      $(this).closest('.contentContainer').toggleClass('nometa');
    });
  });
</script>


<div class="container">
  <div class="row">
    <div class="col-md-12 contentContainer">
      <div class="letter-metadata">
        <header>
          <a class="pull-left collapseMetadata"><span class="glyphicon glyphicon-chevron-left"></span></a>
        </header>
        <article>
          <dl>
            <dh>metadata</dh>
            <% document_show_fields(document).each do |field_name, field| -%>
                <% if should_render_show_field? document, field %>
                    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
                    <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>
                <% end -%>
            <% end -%>
          </dl>
        </article>
        <div><%= link_to 'Dansk Biografisk Leksikon', "http://denstoredanske.dk/Dansk_Biografisk_Leksikon", :target => "_blank"%></div>
        <div><%= link_to 'Den Danske Ordbog', "http://ordnet.dk/ddo", :target => "_blank"%></div>
      </div>
      <div class="container textAndFacsimileContainer">
        <div class="row">
          <div class="ocrContainer">
            <header>OCR</header>
            <article class="ocr">
              <%= Snippet::SnippetServer.render_snippet(opts) %>
            </article>
          </div>
          <div class="facsimile">
            <div class="resizebar"></div>
            <header>Faksimile</header>
            <article>
              OpenSeadragon goes in here
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


